@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap');

:root {
    --colour-one: #7F6B4E; /*shadow*/
    --colour-two:   #36432F; /*cabbage point*/
    --colour-three: #713C2F; /*spice*/
    --colour-four: #A6B8BF; /*tower gray*/

    --text-size: 0.98em;
    --h1-size: 48px;
    --h2-size: 36px;
    --h3-size:  20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-image: url('./images/background-image.jpeg');
    font-family: 'Mountains of Christmas', cursive;
}

h1{
    font-size: var(--h1-size);
    color: var(--colour-three);
    font-weight: 700;
    text-align: center;
    padding:0.5em;
}
/*sub heading */
.sub-heading {
    text-align: center;
    font-size: var(--h2-size);
    color: var(--colour-two);
}
input {
    width: 60px;
    height: 40px;
    border-radius: 10px;
    font-size: var(--h2-size);
    background-color: var(--colour-two);
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    margin-left: 5px;
    justify-content: center;
    cursor: pointer;
    border: none;
    color: white;
}
footer{
    justify-content: center;
    text-align: center;
}

.standard-button {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: var(--h3-size);
    background-color: var(--colour-one);
    font-family: 'Mountains of Christmas', cursive;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    color: white;
}

#calendar-grid {
    display: grid;
    width: 98%;
    max-width: 940px;
    margin: 2% auto;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 4;
    grid-gap: 25px;
  }

#window-24 {
    grid-column-start: 1;
    grid-column: span 2;
    grid-row-start: 1;
    grid-row: span 2;
}
  
.window {
    perspective: 1000px;
    transform-style: preserve-3d;
    cursor: pointer;
    display: flex;
    min-height: 100%;
    width: 100%;
    height: 120px;
    backface-visibility: hidden;
    align-items: center;
    justify-content: center;
    border: 0.5px dashed;
    border-radius: 10px;
    border-color: #b6cdcf;
    color: var(--colour-two);
    font-size: var(--h2-size);
    font-weight: bold;
    text-shadow: 1px 1px 0 var(--colour-four);
    transform-style: preserve-3d;
    transition: all 300ms;
}

.window.front {
    background: rgba(166, 184, 191, 0.2);
}

.window.opened {
    border: 0.5px dashed gray;
    border-radius: 10px;
    border-color: #b6cdcf;
    background-color: var(--colour-four);
    opacity: 0.2;
    cursor:default;
    /* transform: rotateY(180deg); */
} 

.window:hover {
    border-color: #385052;
}

/* modal */
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
}

#modal-content img {
 width: 450px;
}

.close-button {
    float: right;
    margin-top: 10%;
    margin-right: 10%;
    width: 2rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}

.close-button:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* media queries */
@media only screen and (max-width: 500px) {
.calendar-grid {
    grid-template-columns: repeat(3, 1fr);
}
}